
  
  h1 {
    font-size: calc(2em + 50vmin);
    margin: 0;
  }
  
  
  .mastercard-icon {
    display: inline-block;
    height: 1em;
    isolation: isolate;
    position: relative;
    line-height: 1em;
    vertical-align: middle;
    width: 1.611em;
  }
  
  .mastercard-icon::before,
  .mastercard-icon::after {
    border-radius: .5em;
    content: "";
    display: inline-block;
    height: 1em;
    position: absolute;
    width: 1em;
  }
  
  .mastercard-icon::before {
    background-color: #eb001b;
    left: 0;
    top: 0;
  }
  
  .mastercard-icon::after {
    background-color: #f79e1b;
    right: 0;
    top: 0;
  }
